@font-face {
    font-family: "Bremlin";
    src: url("../content/fonts/bremlin.otf");
}

html {
    background-color: #FFFFFF;
    --red: #742A2B;
    --yellow: #E1AE66;
    list-style-type: none;
}

a {
    /*retira o default de todas os links*/
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.container-fluid {
    padding-top: 100px;
    min-height: 100vh;
    padding-bottom: 10vh;
    /*margin-bottom: 5.12%;*/
    font-family: 'Jost', sans-serif;
}

.box-row {
    position: relative;
    min-height: 100%;
}

#zero {
    position: absolute;
    top: 0;
    left: 0;
}

.title {
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--red);
    margin-bottom: 9px;
}

.by {
    color: black;
    margin-bottom: 53px;
}

b {
    font-weight: 600;
}

.text {
    margin-bottom: 32px;
}

.text>p {
    font-size: 1.25rem;
    line-height: 1.85rem;
    color: black;
}

.link {
    color: var(--red);
}

.filter {
    margin-top: 2%;
    text-align: left;
}

.filter li {
    display: inline-block;
    margin-right: 8px;
    margin-bottom: 8px;
    background-color: var(--yellow);
    border-radius: 25px;
    padding: 15px 30px;
}

.image,
.cores {
    display: flex;
    align-items: center;
    justify-content: center;
    /*padding-bottom: 10%;*/
}


.image>img {
    object-fit: cover;
    width: 100%;
    max-height: 70vh;
}


[class*='cor'] {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    /*margin-top: 20%;*/
    margin-bottom: 20%;
}

.cores {
    border-radius: 0;
}

.cores ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

.cor-1 {
    background-color: #EA2127;
}

.cor-2 {
    background-color: #E86E21;
}

.cor-3 {
    background-color: #742A2B;
}

.cor-4 {
    background-color: #F8E03E;
}

.movie {
    padding-left: calc(3.97% - calc(1.65%/2));
    /*margem interna esquerda*/
    padding-right: calc(3.97% - calc(1.65%/2));
    /*margem interna direita*/
    padding-top: 5.12%;
    /*margem interna superior*/
    padding-bottom: 5.12%;
    /*margem interna inferior*/
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
    margin: 0 auto;
    font-family: 'Jost', sans-serif;
    position: relative;
}

.inspired {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 50px;
}

/*.movie_title{
    font-size: 14rem;
    font-weight: 600;
    line-height: 9.5rem;
    opacity:40%;
}*/

/*.movie_title {
    font-size: 100%; 
    font-weight: 600;
    line-height: 12vw; 
    max-width: 100%; 
    opacity: 40%;
}*/

.movie_title {
    font-size: 15vw;
    /* Use 'vw' para ajustar o tamanho com base na largura da viewport */
    font-weight: 600;
    line-height: 10vw;
    /* Use um valor adequado para o espaçamento entre linhas */
    opacity: 40%;
    /* Ajuste conforme necessário */
    overflow-wrap: break-word;
    /* Permite a quebra de palavras quando necessário */
    text-align-last: right;
    /* Alinha o texto à margem direita na última linha */
}

.img_filme {
    transform: translate(-50%, -6%);
    position: relative;
    left: 50%;
    margin-left: calc(3.97% - calc(1.65%/2));
    margin-right: calc(3.97% - calc(1.65%/2));
}

.year {
    font-size: 3.125rem;
    font-weight: 600;
    opacity: 40%;
    text-align: right;
}

/*back_div*/
#back_div {
    flex-direction: row;
    width: 35px;
    min-width: 35px;
    height: 100%;
    /*background: salmon;*/
    overflow: hidden;
    transition: width 0.5s linear;
    white-space: nowrap;
    border-radius: 40px;
    margin-bottom: 2%;
}

#back_div:hover {
    border-radius: 40px;
    width: 85px;
    cursor: pointer;
}

#back_div>div {
    display: block;
    padding: 4px 8px;
}

#img {
    display: inline-block;
    width: 20px;
    height: auto;
}

#back {
    display: inline-block;
    margin: 0;
    font-size: 1.125rem;
    color: white;
    margin-left: 2px;
    font-weight: 500;
}

/*Valores Desktop*/
@media screen and (min-width: 980px) {
    .title {
        max-width: calc((100%/6)*4);
    }

    .text {
        max-width: calc((100%/6)*5);
    }
}

/* Para tablets: */
@media screen and (min-width: 600px) and (max-width: 980px) {
    .filter {
        margin-top: 40px;
    }

    .image>img {
        object-fit: cover;
        width: 100%;
        max-height: 100%;
    }
}

/*para telemóveis*/
@media screen and (max-width: 600px) {
    .container-fluid {
        padding-top: 140px;
        min-height: none;
        text-align: center;
    }

    .title {
        font-size: 2rem;
        margin-top: 10px;
    }

    .by {
        font-size: 1.25rem;
        margin-bottom: 28px;
    }

    .text {
        margin-bottom: 32px;
    }

    .text>p {
        font-size: 1.063rem;
        line-height: 1.65rem;
        color: black;
    }

    #more_link a {
        font-size: 1.25rem;
        text-align: center;
    }

    .filter {
        margin-top: 36px;
        margin-bottom: 28px;
        text-align: center;
        order: 4;
    }

    .filter li {
        font-size: 0.875rem;
    }

    #colors {
        order: 5;
    }

    .cores {
        width: 100%;
        align-items: normal;
    }

    .cores ul {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

    .movie {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .inspired {
        font-size: 2rem;
    }

    .img_filme {
        transform: translate(-50%, -6%);
        position: relative;
        left: 50%;
        width: 70%;
    }

    .year {
        font-size: 3.125rem;
        font-weight: 600;
        opacity: 40%;
        text-align: right;
    }

    #um {
        display: flex;
        flex-direction: column;
    }


}



/*CSS GERAL -----------------------------------------------------------------------*/
/*header-------------------------------------------------*/
header {
    /*height: 10vh;*/
    /*margem interna esquerda*/
    padding-left: calc(3.97% - calc(1.65%/2));
    /*margem interna direita*/
    padding-right: calc(3.97% - calc(1.65%/2));
    /*margem interna superior*/
    padding-top: 20px;
    padding-bottom: 20px;

    position: fixed;
    z-index: 100;
    width: 100%;
    /*background-color:#E1AE66;*/
}

nav {
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#eyes {
    max-height: 6vh;
}

nav p {
    font-family: "Bremlin";
    font-size: 1.6rem;
    color: black;
}

nav img {
    max-width: 70%;
    height: auto;
    width: auto;
}

.eye {
    position: relative;
    display: inline-block;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    background: #F2F2F2;
}

.eye>div {
    /*pupil*/
    position: absolute;
    bottom: 15px;
    right: 15px;
    width: 20px;
    height: 20px;
    background-color: #424141;
    border-radius: 50%;
    content: " ";
}

.eye>div:after {
    position: absolute;
    top: 12px;
    right: 12px;
    width: 8px;
    height: 8px;
    background-color: #FFFFFF;
    border-radius: 50%;
    content: " ";
}

/*quando faz hover os olhos ficam fixos no utilizador*/
#eyes:hover>.eye div {
    position: absolute;
    bottom: 10px;
    right: 10px;
}


/*footer-----------------------------------------------*/
footer {
    /*margem interna esquerda*/
    padding-left: calc(3.97% - calc(1.65%/2));
    /*margem interna direita*/
    padding-right: calc(3.97% - calc(1.65%/2));
    /*margem interna superior*/
    padding-top: 3%;
    /*margem interna inferior*/
    padding-bottom: 3%;
    display: flex;
    position: relative;
}

footer span {
    font-family: Bremlin;
    src: url(../content/fonts/bremlin.otf);
    font-size: 1.5rem;
    line-height: 1.6rem;
    text-align: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

footer a {
    align-self: center;
    position: absolute;
    right: 3%;
    font-family: 'Jost', sans-serif;
    /*transform: translateX(-50%);*/
}

footer div {
    display: inline-block;
    align-self: center;
    font-size: 1.2rem;
}

footer img {
    width: 15%;
    align-self: center;
}

/* Para tablets: */
@media screen and (min-width: 600px) and (max-width: 980px) {}

/*para telemóveis*/
@media screen and (max-width: 600px) {

    header {
        padding-top: 20px;
        padding-bottom: 10px;
    }

    nav {
        flex-direction: column-reverse;
    }

    nav p {
        font-size: 1.25rem;
    }

    nav p:first-child {
        order: 2;
    }

    nav p:nth-child(3) {
        order: 1;
    }

    nav img {
        display: block;
    }

    #eyes {
        scale: 0.8;
    }


    /*footer-----------------------------------------------*/
    footer {
        /*margem interna superior*/
        padding-top: 24px;
        /*margem interna inferior*/
        padding-bottom: 24px;
    }

    footer span {
        font-size: 1.25rem;
        line-height: 1.4rem;
        text-align: center;
    }

    footer a {
        align-self: center;
        position: absolute;
        right: 3%;
        font-family: 'Jost', sans-serif;
        /*transform: translateX(-50%);*/
        margin-right: calc(3.97% - calc(1.65%/2));
    }

    footer div {
        display: none;
    }

    footer img {
        width: 40%;
        float: right;
        /*margem interna direita*/
    }
}