*{
    margin:0;
    padding:0;
    box-sizing: border-box;

    /*COLORS*/

    --preto: #141414;
    --branco: #FFFFFF;

    --rosaclaro: #F3E4EC;
    --roxo: #642E68;

    --amarelo: #FBE45B;
    --vermelho1: #900E16;

    --azulclaro: #C0FFF3;
    --vermelho2: #972A22;

    --rosasalmão: #F0B7BA;
    --bordo: #640C08;

    --bege: #EFEBD0;
    --azulturquesa: #0E5266;

    --rosaescuro: #842D53;
    --amareloclaro: #FEED7D;

    --castanho: #773613;
    --amarelocalro2: #FFEC69;

    --vermelhoescuro: #900E16;
    --amarelo: #FBE45B;
}


h3{

    font-family: 'Bremlin', sans-serif;
    color: var(--bordo);
    text-align: center;
    


}