header {
    background-color: var(--preto);
    height: 100vh;
}

.intro h1 {
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color:var( --rosasalmão); 
   
}


.imagens_home {
    background-color: var(--roxo);
    display: flex;
    justify-content: center;
    align-items: center;
}

.keywords {
    background-color:var(--rosasalmão);
}

.WA {
    background-color: var(--bordo);
}