body {
    background-color: #F3E4EC !important;
}

.banner {
    padding: 30px;
    text-align: center;
    background: #F3E4EC;
    color: black;
    font-size: 30px;
    margin-bottom: 100px;
}

img {
    max-width: 30%;
    height: auto;
    width: auto\9;
    /* ie8 */
}


.filters-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: baseline;
    align-content: space-around;
    gap: 10px;
    width: 800px;
    margin: auto;
    margin-top: 40px;
    background: #F3E4EC;
}

.images-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: baseline;
    align-content: space-around;
    gap: 10px;
    width: 1000px;
    margin: auto;
    margin-top: 100px;
}

.search-engine {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: baseline;
    align-content: space-around;
    gap: 10px;
    width: 500px;
    margin: auto;
}

.search-engine p {
    color: var(--branco);
    border-radius: 25px;
    background: #642E68;
    padding: 10px;
    flex-basis: 10%;
    text-align: center;
    flex-grow: 4;
    flex-shrink: 3;
    flex-basis: auto;
    border: 2px solid transparent;
}


.search-engine p:hover {
    color: #642E68;
    border-color: #642E68;
    border-style: solid;
    border-width: 2px;
    border-radius: 25px;
    background: #D8C2D3;
    flex-basis: 10%;
    text-align: center;
    flex-grow: 4;
    flex-shrink: 3;
    flex-basis: auto;
}



.filters-container p {
    color: var(--branco);
    border-radius: 25px;
    background: #642E68;
    padding: 10px;
    flex-basis: 10%;
    text-align: center;
    flex-grow: 4;
    flex-shrink: 3;
    flex-basis: auto;
    border: 2px solid transparent;
    /* textos tamanho normal página diretor, autores dos artefactos */
    font-size: 1.3rem;
}

.filters-container p:hover {

    color: #642E68;
    border-color: #642E68;
    border-style: solid;
    border-width: 2px;
    border-radius: 25px;
    background: #D8C2D3;
    flex-basis: 10%;
    text-align: center;
    flex-grow: 4;
    flex-shrink: 3;
    flex-basis: auto;
}