body {
    background-color: #F3E4EC !important;
}

@font-face {
    font-family: "Jost";
    src: url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
}

@font-face {
    font-family: "Bremlin";
    src: url("../content/font/bremlin.otf");
}


header {
    background-color: #F3E4EC;
}

header nav p {
    font-family: "Bremlin";
}
.banner {
    padding: 30px;
    text-align: center;
    margin-bottom: 7vh;
    height: 5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



/* desktop */
@media only screen and (min-width: 992px) {
    .banner p {
        font-family: "Bremlin";
        font-size: 25px;
    }

    .banner img {
        height: 45px;
    }
}

/* tablet */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .banner p {
        font-family: "Bremlin";
        font-size: 25px;
    }

    .banner img {
        height: 40px;
    }
}

/* mobile */
@media only screen and (max-width: 767px) {
    .banner p {
        font-family: "Bremlin";
        font-size: 15px;
    }

    .banner img {
        height: 25px;
    }
}

.prevent-select {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.filters-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: baseline;
    align-content: space-around;
    gap: 10px;
    width: 65vw;
    margin: auto;
}


/* desktop */
@media only screen and (min-width: 992px) {
    .images-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: baseline;
        width: 80vw;
        margin: auto;
        margin-top: 100px;
        row-gap: 15vh;
        column-gap: 1vw;
    }
    
    .img-container {
        width: 25%;
        height: fit-content;
        display: flex;
        flex-wrap: wrap;
    }

}

.img-container a img {
    max-width: 100%;
    height: auto;
    width: auto;
}

.info-container {
    position: relative;
    border: 1.5px solid #642E68;
    padding: 3vh;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    font-family: "Jost";
    color: #642E68;
    width: 100%;
}

/* tablet */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .images-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: baseline;
        width: 80vw;
        margin: auto;
        margin-top: 10vh;
        row-gap: 10vh;
        column-gap: 1vw;
    }
    
    .img-container {
        width: 50%;
        height: fit-content;
        display: flex;
        flex-wrap: wrap;
    }
}

/* mobile */
@media only screen and (max-width: 767px) {
    .images-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: baseline;
        width: 80vw;
        margin: auto;
        margin-top: 10vh;
        row-gap: 10vh;
        column-gap: 1vw;
    }
    
    .img-container {
        width: 45%;
        height: fit-content;
        display: flex;
        flex-wrap: wrap;
    }

}


.images-container a {
    display: flex;
    justify-content: center;
}


/* desktop */
@media only screen and (min-width: 992px) {
    .search-engine {
        padding-top: 100px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        align-content: center;
        width: 40vw;
        margin: auto;
        margin-bottom: 4vh;
    }
}

/* mobile */
@media only screen and (max-width: 767px) {
    .search-engine {
        padding-top: 140px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        align-content: center;
        width: 40vw;
        margin: auto;
        margin-bottom: 4vh;
    }
}

.search-engine i {
    color: #642E68;
    font-size: large;
    position: relative;
    left: 30px;
}

.search-engine p {
    font-family: "Jost";
    color: #642E68;
    border-radius: 25px;
    background: #D8C2D3;
    padding: 10px; 
    flex-basis: 10%;
    text-align: center;
    flex-grow: 4;
    flex-shrink: 3;
    flex-basis: auto;
    border: 1.5px solid #642E68;
}


.search-engine input {
    font-family: "Jost";
    color: #642E68;
    border-radius: 25px;
    background: #D8C2D3;
    padding: 10px; 
    flex-basis: 10%;
    text-align: center;
    flex-grow: 4;
    flex-shrink: 3;
    flex-basis: auto;
    border: 1.5px solid #642E68;
    outline: none;
}

.filters-container p {
    font-family: "Jost";
    font-size: 13px;
    color: #F2F2F2;
    border-radius: 25px;
    background: #642E68;
    padding: 10px; 
    flex-basis: 10%;
    text-align: center;
    flex-grow: 4;
    flex-shrink: 3;
    flex-basis: auto;
    border: 1.5px solid transparent;
    justify-content: center;
    width: fit-content;
}


.dropdown {
    position: relative;
    display: inline-block;
}
  

.dropdown-content {
    margin-top: 5px;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 170%;
    height: fit-content;
    justify-content: center;
    gap: 5px;
    background-color:#642E68;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.dropdown-content div {
    padding: 12px 16px;
    margin: auto;
    text-decoration: none;
    display: block;
    border-radius: 25px;
    height: fit-content;

}

/* .dropdown:hover .dropdown-content {
   visibility: visible;
} */

.color-palette {
    position: relative;
    display: flex;
    flex-direction: row;
    width: fit-content;
    justify-content: space-evenly;
    align-content: center;
    height: 25px;
}

.color-palette:hover {
    cursor: pointer;
}

.color {
    position: relative;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    margin: 0;
    padding: 0;
    margin-right: 5px;
    display: inline-block;
    border: 0.3px solid #F2F2F2;
}
.filters-container p:hover {
    cursor: pointer;
}