*{
    margin:0;
    padding:0;
    box-sizing: border-box;

    /*COLORS*/
    --preto: #141414;
    --branco: #FFFFFF;
}

.container-fluid {
    padding-left:3.97%;
    padding-right:3.97%;
    padding-top: 5.12%;
    padding-top: 5.12%;
    margin-right: auto;
    margin-left:auto;
}

.wrap {
    box-sizing: border-box;
    /*max-width: 1200px;*/
    margin: 0 auto;
}

div{
    display: block;
}

.row{
    box-sizing: border-box;
    display: flex;
    -webkit-box-flex: 0;
    -webkit-box-orient:horizontal;
    -webkit-box-direction: normal;
    flex-direction:row;
    flex-wrap: wrap;
    margin-right:-calc(1.65%/2);
    margin-left:-calc(1.65%/2);
}

/*.col-m, .col-m-1, .col-m-10, .col-m-11, .col-m-12, .col-m-2, .col-m-3, .col-m-4, .col-m-5, .col-m-6, .col-m-7, .col-m-8, .col-m-9, .col-m-offset-0, .col-m-offset-1, .col-m-offset-10, .col-m-offset-11, .col-m-offset-12, .col-m-offset-2, .col-m-offset-3, .col-m-offset-4, .col-m-offset-5, .col-m-offset-6, .col-m-offset-7, .col-m-offset-8, .col-m-offset-9 {
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: 0.5rem;
    padding-left: 0.5rem
}*/

/*Valores Desktop*/
@media screen and (min-width: 980px) {
    .col-d-1 {
        -ms-flex-preferred-size: calc((100%/12)*1);
        flex-basis: calc((100%/12)*1);
        max-width: calc((100%/12)*1);
    }

    .col-d-2 {
        -ms-flex-preferred-size: calc((100%/12)*2);
        flex-basis: calc((100%/12)*2);
        max-width: calc((100%/12)*2);
    }

    .col-d-3 {
        -ms-flex-preferred-size: calc((100%/12)*3);
        flex-basis: calc((100%/12)*3);
        max-width: calc((100%/12)*3);
    }

    .col-d-4 {
        -ms-flex-preferred-size: calc((100%/12)*4);
        flex-basis: calc((100%/12)*4);
        max-width: calc((100%/12)*4);
    }

    .col-d-5 {
        -ms-flex-preferred-size: calc((100%/12)*5);
        flex-basis: calc((100%/12)*5);
        max-width: calc((100%/12)*5);
    }

    .col-d-6 {
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
        max-width: 50%;
    }

    .col-d-7 {
        -ms-flex-preferred-size: calc((100%/12)*7);
        flex-basis: calc((100%/12)*7);
        max-width: calc((100%/12)*7);
    }

    .col-d-8 {
        -ms-flex-preferred-size: calc((100%/12)*8);
        flex-basis: calc((100%/12)*8);
        max-width: calc((100%/12)*8);
    }

    .col-d-9 {
        -ms-flex-preferred-size: calc((100%/12)*9);
        flex-basis: calc((100%/12)*9);
        max-width: calc((100%/12)*9);
    }

    .col-d-10 {
        -ms-flex-preferred-size: calc((100%/12)*10);
        flex-basis: calc((100%/12)*10);
        max-width: calc((100%/12)*10);
    }

    .col-d-11 {
        -ms-flex-preferred-size: calc((100%/12)*11);
        flex-basis: calc((100%/12)*11);
        max-width: calc((100%/12)*11);
    }
    .col-d-12 {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        max-width: 100%;
    }
}

/* Para tablets: */
@media screen and (min-width: 600px) and (max-width: 980px) {
    /*.col-t-3 {
        -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
        max-width: 25%;
    }
    
    .col-t-9 {
        -ms-flex-preferred-size: 25%;
        flex-basis: 75%;
        max-width: 75%;
    }*/

    .col-t-1 {
        -ms-flex-preferred-size: calc((100%/12)*1);
        flex-basis: calc((100%/12)*1);
        max-width: calc((100%/12)*1);
    }

    .col-t-2 {
        -ms-flex-preferred-size: calc((100%/12)*2);
        flex-basis: calc((100%/12)*2);
        max-width: calc((100%/12)*2);
    }

    .col-t-3 {
        -ms-flex-preferred-size: calc((100%/12)*3);
        flex-basis: calc((100%/12)*3);
        max-width: calc((100%/12)*3);
    }

    .col-t-4 {
        -ms-flex-preferred-size: calc((100%/12)*4);
        flex-basis: calc((100%/12)*4);
        max-width: calc((100%/12)*4);
    }

    .col-t-5 {
        -ms-flex-preferred-size: calc((100%/12)*5);
        flex-basis: calc((100%/12)*5);
        max-width: calc((100%/12)*5);
    }

    .col-t-6 {
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
        max-width: 50%;
    }

    .col-t-7 {
        -ms-flex-preferred-size: calc((100%/12)*7);
        flex-basis: calc((100%/12)*7);
        max-width: calc((100%/12)*7);
    }

    .col-t-8 {
        -ms-flex-preferred-size: calc((100%/12)*8);
        flex-basis: calc((100%/12)*8);
        max-width: calc((100%/12)*8);
    }

    .col-t-9 {
        -ms-flex-preferred-size: calc((100%/12)*9);
        flex-basis: calc((100%/12)*9);
        max-width: calc((100%/12)*9);
    }

    .col-t-10 {
        -ms-flex-preferred-size: calc((100%/12)*10);
        flex-basis: calc((100%/12)*10);
        max-width: calc((100%/12)*10);
    }

    .col-t-11 {
        -ms-flex-preferred-size: calc((100%/12)*11);
        flex-basis: calc((100%/12)*11);
        max-width: calc((100%/12)*11);
    }
    .col-t-12 {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        max-width: 100%;
    }
}


/*para telemóveis*/
@media screen and (max-width: 600px) {


    .col-m-1 {
        -ms-flex-preferred-size: calc((100%/6)*1);
        flex-basis: calc((100%/6)*1);
        max-width: calc((100%/6)*1);
    }

    .col-m-2 {
        -ms-flex-preferred-size: calc((100%/6)*2);
        flex-basis: calc((100%/6)*2);
        max-width: calc((100%/6)*2);
    }

    .col-m-3 {
        -ms-flex-preferred-size: calc((100%/6)*3);
        flex-basis: calc((100%/6)*3);
        max-width: calc((100%/6)*3);
    }

    .col-m-4 {
        -ms-flex-preferred-size: calc((100%/6)*4);
        flex-basis: calc((100%/6)*4);
        max-width: calc((100%/6)*4);
    }

    .col-m-5 {
        -ms-flex-preferred-size: calc((100%/6)*5);
        flex-basis: calc((100%/6)*5);
        max-width: calc((100%/6)*5);
    }

    .col-m-6{
        flex-basis:100%;
        max-width:100%;
    }
}


[class*='col'] {
    box-sizing:border-box;
    /*padding-right:0.5rem;
    padding-left:0.5rem;*/
    padding-right:calc(1.65%/2);
    padding-left:calc(1.65%/2);
}


.box, .box-first, .box-large, .box-nested, .box-row{
    position:relative;
    box-sizing: border-box;
    background: red;
    overflow:  hidden;
    margin-bottom:16px;
}

